/*GENERALES*/

body, html{
    height: 100vh;
    width: 100%;
    margin: 0;
}

/*Fuentes*/
@font-face{
    font-family: "Righteous";
    src: url('../fonts/Righteous-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/** caja derecha **/
.seccion1{
    background-image: url(../img/Banner\ \(3\).png);
    background-repeat: no-repeat;
    border-radius: 14px;
    color: white;
    background-size: auto;
    text-align: center;
    font-family: "Righteous";

}

.box{
   
    height: 500px;
    width: 300px;
    border-radius: 35px;
    background: #fff;
    color: black;
    
}

.box h1{
    font-size: 53px;
}
/**caja izquierda**/
.seccion2{
    height: auto;
    background: #000000;
    color: #fff;
    font-family: "Righteous";
}

.caja-negra{
    margin-top: 200px;
}

.seccion2 a{
    color: #03D734;
    list-style: none;
}
.input-contenedor{
    height: 51px;
    border: none;
    background-color: transparent;
    color: #ccc;
    transition: all 300ms; 
    border: 1px solid #ccc; 
    border-radius: 30px;
    /*text-align: center;*/
    
}
.input-contenedor input[type="text"],
button[type="submit"]{
    height: 51px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color:#E0DCDC;
    text-align: center;
}

.input-contenedor input[type="text"]{
    width: 74%;
}

.boton2-destacado{
    background: #03D734;
    color: #000000;
    border-radius: 25px;
    height: 51px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    text-align: center;
}

