/*GENERALES*/

body, html{
    height: 100vh;
    width: 100%;
    margin: 0;
}

/*Fuentes*/
@font-face{
    font-family: "Righteous";
    src: url('../fonts/Righteous-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/** caja derecha **/
.seccion1{
    background-image: url(../img/Banner\ \(3\).png);
    background-repeat: no-repeat;
    border-radius: 14px;
    color: white;
    background-size: auto;
    text-align: center;
    font-family: "Righteous";
    height: auto;

}

.box{
   
    height: 575px;
    width: 387px;
    border-radius: 35px;
    background: #fff;
    color: black;
    margin-top: -10px;
    
}
.titulo h1{
    font-size: 75px;
}

.box h1{
    font-size: 65px;
}
/**caja izquierda**/
.seccion2{
    height: auto;
    background: #000000;
    color: #fff;
    font-family: "Righteous";
}

.box-green{
    width: 100%;
    height: 353px;
    background: #22FF00;
    border-bottom-right-radius: 999px;
    border-bottom-left-radius: 999px;
    margin-top: -228px;
    
}

.box-black{
    width: 100%;
}

.enter-acount{
    width: 100%;
    margin-top: 79px;
}

.seccion2 a{
    color: #22FF00;
    list-style: none;
}
.input-contenedor{
    height: 51px;
    border: none;
    background-color: transparent;
    color: #ccc;
    transition: all 300ms; 
    border: 1px solid #ccc; 
    border-radius: 30px;
    margin-top: 75px;
    /*text-align: center;*/
    
}

.input-contenedor input[type="text"],
button[type="submit"]{
    height: 51px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color:#E0DCDC;
    text-align: center;
}

.input-contenedor input[type="text"]{
    width: 74%;
}

.boton-contenedor{
    width: 85%;
}

.boton2-destacado{
    background: #22FF00;
    color: #000000;
    border-radius: 25px;
    height: 51px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    text-align: center;
    width: 100%;
}

.icon{
    width: 45px;
    height: 82px;
    background: white;
    border-radius: 40px;
}

.link a h5 {
    list-style: none;
}

