/*Fuentes*/
@font-face{
    font-family: "Righteous";
    src: url('../fonts/Righteous-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*GENERALES*/
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Righteous";
}

/** Menu de Navegacion **/
#nav{
    height: 79px;
    border: 2px solid black;
}

.input-contenedor{
    height: 44px;
    width: 334px;
    background-color: #22ff00;
    border-radius: 30px;
    
}

.input-contenedor input[type="text"]{
    border-radius: 30px;
    height: 44px;
    width: 300px; 
    background: #22ff00;
    color: black;
    border: none;
    margin-left: 15px;
}

.input-contenedor button[type="submit"]{
    border-radius: 30px;
    background: #22ff00;
    color: black;
    border: none;
}

.buscar{
    width: 10px;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
}

.navbar > ul > li{
  list-style: none;    
}

.navbar >ul > li a {
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    text-decoration: none;
    font-size: 30px;
    color: #ABABAB;
}

.icon{
    float: left;
    align-items: center;
}

.nav .menu{
    text-align: center;
    width: 100%;
    height: auto;
}

nav ul li:hover{
    background-color: #22FF00;
    box-shadow: 0px 0px 4px inset;
    border-radius: 999px;
}

/**    Banner   **/

#header{
    width: 1440px;
    height: 347px;
    margin-left: -2px;
    background-image: url(../img/Banner\ \(4\).png);
    background-repeat: no-repeat;
    border-radius: 14px;
    color: white;
    position: fixed;
}

#header > h1{
    font-family: Righteous;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;height: 58px;
    margin-left: 522px;
    margin-top: 41px;
}

.input-cont{
    height: 51px;
    width: 889px;
    margin-left: 303px;
    border-radius: 30px;
    background: #F2F2F2;;
    border: none;

}

.input-cont input[type="text"]{
    width: 600px;
    height: 51px;
    border-radius: 30px;
    background: #F2F2F2;
    border: none;
    font-family: Righteous;
}

.input-cont button[type="submit"]{
    height: 51px;
    width: 210px;
    background: #22ff00;
    font-family: Righteous;
    border-radius: 30px;
    border: none;
    
}

