/*Fuentes*/
@font-face{
    font-family: "Righteous";
    src: url('../fonts/Righteous-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*GENERALES*/
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Righteous";
}

.box1{
    height: 83px;
    font-family: "Righteous";
    border-radius: 14px;
    background: #22FF00;
}

/*BUSCADOR*/

#buscador{
    font-family: "Righteous";
    border-radius: 30px; 
}

.input-contenedor{
    width: 100%;
    height: 51px;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #ccc;
    transition: all 300ms; 
    border: 1px solid #ccc; 
    border-radius: 30px;
    text-align: center;
    
}
.input-contenedor input[type="text"],
button[type="submit"]{
    height: 51px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #555;
    padding-left: 6px;
    text-align: center;
}

.box2{
    background-image: url(../img/adam-wilson-6UIonphZA5o-unsplash\ 2.png);
    background-repeat: no-repeat;
    border-radius: 14px;
    color: white;
}

.box2 h1{
    color: white;
}

.box2 button[type="submit"]{
    background: #000000;
    border-radius: 20px;
    color: white;
}

#productos{
    font-family: "Righteous";
    background: #F3F3F3;
    border-radius: 30px;
}

/*CAROUSEL*/
.carousel{
    align-content: center;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    background: none;
    color: #fff;
    opacity: 20%;
    color: black;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
    opacity: 100%;
}
.carousel__anterior{
    left: -30px;
}

.carousel__siguiente{
    right: 30px;
}

.carousel__lista {
    overflow: hidden;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;
    border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

.carousel__indicadores .glider-dot.active {
    opacity: 1;
}

#destacados{
    font-family: "Righteous";
    background: #F3F3F3;
    border-radius: 30px;
}

/*Menu de navegacion*/
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
}

.navbar > ul > li{
  list-style: none;    
}

.navbar >ul > li a {
    padding-left: 15px;
    padding-right: 15px;
    color:white;
    text-decoration: none;
    font-size: 30px;
    color: #ABABAB;
}

.icon{
    float: left;
    align-items: center;
}

.nav .menu{
    text-align: center;
    width: 100%;
    height: auto;
}

nav ul li:hover{
    background-color: #22FF00;
    box-shadow: 0px 0px 4px inset;
    border-radius: 999px;
}
